.AdminRoutes {
    padding-left: 20%;
    .AdminNav {
        position: fixed; top: 0%; bottom: 0%; left: 0%; right: 80%;
        display: flex; flex-direction: column; align-items: center;
        padding-top: 2rem;
        background-color: var(--background-secondary);

        img {width: 80%; max-width: 7rem; cursor: pointer;}
        a {
            padding: 1rem;
            color: var(--text-tertiary); font-weight: 500;
            width: 100%;
            transition: 0.2s ease;
        }
        a:hover {
            color: var(--text-primary); background-color: var(--background-tertiary);
        }
        a.active {
            color: var(--text-primary); background-color: var(--highlight);
        }
    }
}

//_____ PRODUCT PAGE _____
.itemContainer {
    background-color: var(--background-tertiary);
    display: flex; align-items: center; gap: 1rem;
    border-radius: var(--curved); overflow: hidden;
    margin: 1rem;
    height: 6rem;
    cursor: pointer;
    &:hover {outline: 2px solid var(--orange);}

    img {height: 100%; width: 30%; border-radius: var(--curved);}
    
}