

.ConsoleIndex {
    .storeContainer {
      height: 12rem;
      margin: 1rem 2rem;
      background-color: var(--background-tertiary); color: var(--text-primary);
      display: flex;
      border-radius: var(--curved);
      overflow: hidden;
        
      p {color: var(--text-tertiary);}
      img {width: 50%; object-fit: cover; border-radius: var(--curved);}
      .rightSide {
        padding-left: 2rem;
        width: 50%;
        display: flex; flex-direction: column; justify-content: center;
        .buttonContainer {margin-top: 1rem; display: flex; gap: 0.5rem; flex-wrap: wrap;}
      }
    }
}

#createStoreButton {
  position: fixed; bottom: 20%; left: 35%; right: 35%;
}