$background-primary: #111315;
$background-secondary: #1a1d1f;
$background-tertiary: #272b30; 
$text-primary: #FFFFFF;
$text-secondary: #D0D6DC;
$text-tertiary: #AAB1B8;
$highlight: #5a48ff;
$purple: #5a48ff;
$red: #F34A30;
$blue: #2A86FF;
$orange: #DEB224;
$green: #73da82;



.ConsoleIndex {
    .storeContainer {
      height: 12rem;
      margin: 1rem 2rem;
      background-color: $background-tertiary; color: $text-primary;
      display: flex;
      border-radius: 1rem;
      overflow: hidden;
        
      p {color: $text-tertiary;}
      img {width: 50%; object-fit: cover;}
      .rightSide {
        padding-left: 2rem;
        width: 50%;
        display: flex; flex-direction: column; justify-content: center;
        .buttonContainer {margin-top: 1rem; display: flex; gap: 0.5rem; flex-wrap: wrap;}
      }
    }
}

#createStoreButton {
  position: fixed; bottom: 20%; left: 35%; right: 35%;
}