$background-primary: #111315;
$background-secondary: #1a1d1f;
$background-tertiary: #272b30; 
$text-primary: #FFFFFF;
$text-secondary: #D0D6DC;
$text-tertiary: #AAB1B8;
$highlight: #5a48ff;
$purple: #5a48ff;
$red: #F34A30;
$blue: #2A86FF;
$orange: #DEB224;
$green: #73da82;




.StoreIndex{

    .heroImage {
        width: 100%; height: 100vh;
    }
    h1{padding: 1rem 10%;}

    .productList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10% 3%;
        grid-auto-flow: row;

        padding: 0 10%;


        .productContainer{
            border-radius: 0.5rem;
            display: flex; flex-direction: column; align-items: flex-start;
            cursor: pointer;
            
            img {
            width: 100%; height: 100%; height: 20rem;
            border-radius: 0.3rem;
            transition: 0.5s ease;
            } img:hover {transform: translateY(-1rem);}
            h3 {color: $text-primary; font-weight: 600; margin-top: 1rem;}
            p {color: $text-tertiary; font-weight: 500; margin-bottom: 1rem;}
        }
        .productContainer:hover {
            p {color: $orange;}
        }
    }
}




.cartBackground {
    position: fixed; top: 0%; left: 0%; right: 0%; bottom: 0%; z-index: 999;
    background-color: #111315c1;
}
.CartDrawer {
    width: 30%; min-width:330px;
    background-color: $background-tertiary;
    overflow-y: scroll;
    padding-top: 20%; padding-bottom: 50%;
    position: absolute; right: 0%; top: 0%; bottom: 0%;

    
    .CartHeader {
        width: 30%; min-width:330px; height: 15%;
        position: fixed; top: 0%; right: 0%;
        display: flex; align-items: center; justify-content: space-around;
        background-color: $highlight; color: $text-primary;
    }
    .CartFooter {
        width: 30%; min-width: 330px; height: 15%;
        position: fixed; bottom: 0%; right: 0%;  
        display: flex; align-items: center; justify-content: center;
        a{
            width: 80%; text-align: center;
            box-shadow: rgb(0, 0, 0) 0px 54px 55px, rgb(0, 0, 0) 0px -12px 30px;
        }
    }
    .itemContainer{
        height: 8rem; margin-top: 2rem;
        display: flex; align-items: center;
        img {height: 100%; width: 50%;}
    }
}
.CartDrawer::-webkit-scrollbar {
    width: 0;
}
