

* {
  margin: 0%; padding: 0%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: var(--background-primary);
  color: var(--text-primary);
}
h1, h2 {font-weight: 600;}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--background-tertiary);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-primary);
}



a {
  color: var(--text-primary);
  text-decoration: none;
}

img {
  object-fit: cover;
  border-radius: var(--curved)
}



input{
  font-weight: 500;
  background-color: var(--background-secondary); color: var(--text-tertiary);
  display: block;
  padding: 0.7rem 1rem;
  border-radius: var(--curved); border: var(--background-tertiary) 2px solid;
  transition: ease 0.5s;
}
input:focus{
  color: var(--text-primary);
  border: var(--highlight) 2px solid;
  outline: none;
}







.button {
  border-radius: var(--curved); border: solid 2px;
  font-size: 0.75rem; font-weight: 500; text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  white-space: nowrap;
  transition: ease 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
  &:disabled {
    background-color: var(--background-tertiary); color: var(--text-tertiary);
    border-color: var(--background-tertiary);
    cursor: not-allowed;
  }
}
.Pri {
  background: var(--text-primary); color: var(--background-primary);
  border-color: var(--text-primary);
}
.Sec {
  background: none; color: var(--text-secondary);
  border-color: var(--text-secondary);
}
.Highlight {
  background: var(--highlight); color: var(--text-primary);
  border-color: var(--highlight);
}



form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20% 5%;
  grid-auto-flow: row;
  padding: 10% 10%;
  input {
    width: 100%;
  }
  label {
    color: var(--text-tertiary); font-size: 0.7rem; font-weight: 500;
  }
  .abc {
    color: red;
  }
  .selectBar {
    margin-top: 0.3rem;
    font-size: 0.8rem; font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: var(--curved); border: var(--text-tertiary) 2px solid;
    transition: ease 0.3s;
  }.true {
    color: var(--green);border: var(--green) 2px solid;
  }
}







.Navbar {
  height: 4rem;
  background-color: #111315c1;
  position: fixed; top: 0%; right: 0%; left: 0%;
  display: flex; align-items: center; justify-content: space-around;
  z-index: 1;

  img {height: 55%; cursor: pointer;}
  .Elements {
    height: 100%; width: 70%;
    display: flex; align-items: center; justify-content: flex-start; gap: 2rem;
    font-weight: 500;
    a {color: var(--text-tertiary); transition: 0.2s ease;} 
    a:hover {color: var(--text-primary);}
    a.active {color: var(--text-primary);}
  }
}



.LoadingScreen {
  display: flex; align-items: center; justify-content: center; flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed; top: 0%; bottom: 0%; left: 0%; right: 0%; z-index: 3;

  p {color: var(--highlight);}
}


.multiPageForm {
  margin-top: 80px;

  header {
    display: flex; justify-content: flex-end; align-items: center; gap: 0.5rem;
    padding: 0% 10%;
  }
}